img {
  width: 60%;
}

video {
  width: 60%;
}

body {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #333;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #333;
    color: white;
  }

  img {
    width: 100%;
  }
  
  video {
    width: 100%;
  }

  body {
    padding-top: 30px;
  }
}

@media only screen and (min-width: 769px) {
  /* Hide hamburger menu on larger screens */
  .topnav a.icon {
    display: none;
  }

  a.active {
    display: none;
  }

  /* Always show the links on larger screens */
  .topnav #myLinks {
    display: block;
  }

  body {
    padding-top: 30px;
  }
}